.navbar-brand {
    margin-left: 0;
  }

  .navbar-nav .nav-link {
    color: navy;
  }

  

  .navbar-nav .nav-link:active {
    color: navy; /* Active text color */
  }

  .navbar-nav .dropdown-menu {
    background-color: #f8f9fa; 
  }

  .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #f8d462; 
    color: navy; 
  }

  .navbar-nav .dropdown-menu .dropdown-item:active {
    background-color: navy; 
    color: yellow; 
  }